
.land-cont {
    height: 85vh;
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
}
.land-child-1{
   
    text-align: start;
}

.logo {
  max-width: 40%;
}

.font-3 {
  color: #810000;
  font-size: 12vmin;
  font-weight: 950;
  margin: 2vmin;
  
}

.font-4 {
    font-size: 3vmin;
    color: #EEEBDD;
    margin: 2vmin;

}
.font-5 {
    font-size: 3vmin;
  color: #810000;
  margin: 2vmin;
}

.rule-btn {
    padding: 10px;
    margin: 2vmin;
    cursor: pointer;
    font-size: 3vmin;
    background-color: #EEEBDD;
}

@media screen and (max-width: 600px) {
   
  .land-cont {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    text-align: center;
   height: max-content;
    
  }
 
  .land-parent-child-1{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
  .land-child-1{
    
    text-align: center;
}

.logo{
 max-width: 60%;
}
.font-3 {
    color: #810000;
    font-size: 12vmin;
    flex: 1;
    font-weight: 950;
    margin: 2vmin;
    
  }
  .font-4{
    font-size: 5vmin;
  }

}
